.add-certificates-main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 20px;
}

/* Default styles (light theme) */
.add-certificates-main-container.light {
  background-color: whitesmoke;
  color: #333;
}

/* Dark theme styles */
.add-certificates-main-container.dark {
  background-color: #333;
  color: #fff;
}

.add-certificates-title {
  text-align: center;
  font-size: 1.5rem;
}

.add-certificates-form-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.form-label {
  font-weight: 500;
  font-size: 1rem;
  margin-left: 8px;
}

.form-input {
  height: 45px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Dark theme styles */
.form-input.dark {
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

/* Light theme styles */
.form-input.light {
  border: 1px solid #333;
  color: #333;
}

/* Calendar icon styling */
.form-input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* Back Button */
.add-certificates-back-btn {
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1rem;
}

/* Responsive Design for Small Devices */
@media only screen and (max-width: 600px) {
  .add-certificates-main-container {
    padding: 1rem;
  }

  .add-certificates-form-container {
    width: 90%;
    padding: 1rem;
  }

  .form-input {
    height: 40px;
    font-size: 0.9rem;
  }
}
